@import './-variables.scss';
@import './-mixins.scss';

.about {
    display: flex;
    flex-direction: column;
    margin-inline: 100px;
    padding: 30px;
}

// Media queries

@media screen and (max-width: 992px) {
    .about {
        margin-inline: 20px;
    }
}

@media screen and (max-width: 576px) {
    .about {
        padding: 0px;
        margin: 0px;
    }
}
