@import './-variables.scss';
@import './-mixins.scss';

.card {
    @include flexContainer (column, end, start);
    flex: 1 0 calc((100% / 3) - 40px);
    position: relative;
    @include dimension (30%, 340px);
    &__img {
        @include dimension (100%, 100%);
        object-fit: cover;
        border-radius: 10px;
    }
    &__overlay {
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.2) 99.99%,rgba(0,0,0,0.5) 100%);
        border-radius: 10px;
        @include dimension (100%, 100%);
        position: absolute;

    }
    &__text {
        position: absolute;
        color: #FFFFFF;
        @include fontStyle (18px, 700);
        margin-inline: 20px;
    }
}

// Media queries

@media screen and (max-width: 992px) {
    .card {
        flex: 1 0 calc((100% / 2) - 40px);
    }
}

@media screen and (max-width: 576px) {
    .card {
        flex: 1 0 100%;
    }
}