@import './-variables.scss';
@import './-mixins.scss';

.collapse {
    margin-bottom: 15px;
    font-size: 18px;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $primary-color;
        border-radius: 5px;
        padding-inline: 15px;
        color: $white-color;
        font-weight: 700;
        cursor: pointer;
    }
    &__arrow {
        width: 32px;
        height: 32px;
        transition: transform 0.4s;
        &--open {
            transform: rotate(180deg);
        }
    }
    &__content {
        max-height: 0;
        font-weight: 400;
        transform: translateY(-30px);
        opacity: 0;
        transition: transform 0.4s ease, opacity 0.4s ease, max-height 0.4s ease;
        &--open {
            max-height: 100px;
            transform: translateY(0);
            opacity: 1;
        }
    }
}