@import './-variables.scss';
@import './-mixins.scss';

.collapse {
    margin-bottom: 15px;
    font-size: 18px;
    &__header {
        @include flexContainer (row, space-between, center);
        background-color: $primary-color;
        border-radius: 5px;
        padding-inline: 15px;
        color: $white-color;
        font-weight: 700;
        cursor: pointer;
    }
    &__arrow {
        @include dimension (32px, 32px);
        transition: transform 0.4s;
        &--open {
            transform: rotate(180deg);
        }
    }
    &__content {
        white-space: pre-line;  /* appliquer les sauts de ligne présents dans une chaîne */
        max-height: 0;
        font-weight: 400;
        transform: translateY(-30px);
        opacity: 0;
        transition: transform 0.4s ease, opacity 0.4s ease, max-height 0.4s ease;
        &--open {
            max-height: 300px;
            transform: translateY(0);
            opacity: 1;
        }
    }
}

// Media queries

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 576px) {
    .collapse {
        margin-bottom: 0px;
        &__header {
            height: 30px;
            @include fontStyle (13px, 700)
        }
        &__arrow {
            @include dimension (25px, 25px);
        }
        &__content {
            @include fontStyle (12px, 400)
        }
    }
}