@import './-variables.scss';
@import './-mixins.scss';

.ficheLogement {
    margin-inline: 100px;
    margin-block: 50px;
}

// Media queries

@media screen and (max-width: 768px) {
    .ficheLogement {
        margin-inline: 20px;
    }
}

@media screen and (max-width: 576px) {
    .ficheLogement {
        margin-block: 25px;
    }
}