@import './-variables.scss';
@import './-mixins.scss';

.gallery {
    @include flexContainer (row, space-between, center);
    flex-wrap: wrap;
    gap: 40px;
    margin: 0 auto;
    padding: 50px;
    background-color: #F6F6F6;
    border-radius: 25px;
}
.gallery::after {   /* Ajustement dernière ligne à gauche */
    content: '';    /* Ajout pseudo-élément vide */
    flex: 1 0 calc((100% / 3) - 40px);  /* largeur des cartes en tenant compte de 3 cartes par ligne */
}

// Media queries

@media screen and (max-width: 992px) {
    .gallery {
        padding: 0px;
    }
    .gallery::after {
        flex: 1 0 calc((100% / 2) - 40px);  /* largeur des cartes en tenant compte de 2 cartes par ligne */
    }
}

@media screen and (max-width: 576px) {
    .gallery::after {
        display: none;  /* pseudo-élément supprimé */
    }
}